<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/login/check" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">Đăng nhập</button>
    </form>
    <script th:if ="${message != null}">
        let message = '[[${message}]]'
        alert(message);
    </script>
</body>
</html>