<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab2 - Bài 2</title>
</head>
<body>
    <form action="/param/save/2021" method="post">
        <input name="y" value="2031">
        <button>Save</button>
    </form>
    <p>X Value: <span th:text="${x}"></span></p>
    <p>X Value: <span th:text="${y}"></span></p>
</body>
</html>