<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 5 - Lab 5</title>
</head>
<body>
    <ul>
        <th:block th:each="item: ${items}">
            <li>
                <td th:text="${item.name}"></td>
                (<td th:text="${item.price}"></td>) ::
                [<a th:href="@{|/cart/add/${item.id}|}">Add To Cart</a>]
            </li>
        </th:block>
    </ul>
</body>
</html>