<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 5 - Lab 5</title>
</head>
<body>
    <table border="1" style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th></th>
        </tr>
        <tr th:each="item: ${cart.items}">
                <input type="hidden" name="id" th:value="${item.id}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <form th:action="@{|/cart/update/${item.id}|}" method="post">
                        <input name="qty" th:value="${item.qty}" onblur="this.form.submit()">
                    </form>
                </td>
                <td th:text="${item.amount}"></td>
                <td>
                    <a th:href="@{|/cart/remove/${item.id}|}">Remove</a>
                </td>
        </tr>
    </table>
    <h3>Tổng tiền: <span th:text="${cart.amount}"></span> USD</h3>
    <a href="/cart/clear">Clear Cart</a>
    <a href="/item/index">Add more</a>
</body>
</html>